* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 125px;
}

.categories li a {
    text-decoration: none;
    color: #555;
    border: 1px solid transparent;
    padding: 10px;
}

.categories li a:hover {
    border-bottom: 1px solid #555;
    transition: 0.2s;
}

.categories li {
    list-style: none;
}

.categories, ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categories img {
    width: 25px;
}

/* Hero - Section */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hero-col {
    flex-basis: 50%;
    min-width: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.hero-col img {
    max-width: 100%;
    padding: 50px 0px;
}

.hero-col h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}

.btn {
    width: 170px;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.2s;
}

.btn i {
    font-size: 14px;
}

.btn:hover {
    background: #563434;
    transition: background 0.2s;
}